@(message: String)(implicit request: RequestHeader, msg: Messages)
@import helper._

@main("Vauldex - Employee") {

  <div class="row expanded container">
    <div class="large-3 columns container border">
      <div class="large-12 columns label center-items">
        <h3><strong>VAULDEX</strong></h3>
      </div>
    </div>
    <div class="large-9 columns container">
      <div class="large-1 columns container"></div>
      <div class="large-10 columns container">
        <br>
        <h2 id="dateTime"></h2>
      </div>
      <div class="large-1 columns container"></div>
    </div>
  </div>
}
